<!DOCTYPE html>
<html>
  <head>
    <title>TurboRolify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex flex-col gap-10">

      <div id="flash-banner">
        <% flash.each do |type, msg| %>
          <% if type.upcase == 'ERROR' %>
            <div class="bg-red-500">
              <%= "#{type}: #{msg}" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <nav>
      <ul class="flex gap-10 bg-blue-400">
      <li><%= link_to "Home", root_path %></li>
      <% if @current_user %>
          <% #TODO: Fix Query jank %>
          <% if @current_user.roles.where(name: 'admin') != []%>
            <li><%= link_to "Admin Dashboard", user_admin_path(@current_user)  %></li>
          <% end %>
        <li><%= link_to "User Dashboard", user_dashboard_path(@current_user) %></li>
        <li><%= link_to "Logout", logout_path%></li>
      <% end %>
      </ul>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
